VITE_SUPABASE_URL="https://kgdecfjazhczjiktgkwq.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_KinczU8mytYZYc4iqyXqwQ_PuAw5MFH"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtnZGVjZmphemhjemppa3Rna3dxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4OTM3OTQsImV4cCI6MjEwNTQ2OTc5NH0.eu1V7v5gGswwOA4-_JlLVPClpU5pCCOT9VQ6IiknOqI"
